<html content="text/html;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="login" method="post">
        <label>
            login <br/>
            <input name="login" type="text" value="admin">
        </label>
        <br/>
        <label>
            password<br/>
            <input name="password" type="password" value="admin">
        </label>
        <br/><br/>
        <input type="submit" value="Перейти к списку клиентов">
    </form>
</div>
</body>
</html>